
## Root


## Client
./client/node_modules


## Server-api-gateway
./server-api-getaway/node_modules


## Server-admin-service
./server-admin-service/node_modules


## Server-game-service
./server-game-service/node_modules

## Server-user-service
./server-user-service/node_modules